
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutlis</title>
</head>
<body>
<h1>Welcome to the Text Analayzer. Enter your Text below?</h1>
<form action="/analyze" method="get">
    <textarea name="text" style='margin: 0px; width: 1349px; height: 227px;'>
    </textarea>
    <input type="checkbox" name="removepunc">Remove Punchtuations<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <input type="checkbox" name="extraspaceremover">Extra Space Remover<br>
    <input type="checkbox" name="charcounter">Characters Counter<br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>